body {
  margin: 0;
  background: #e5e5e5;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

#container {
  text-align: center;
}

#controls {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}
